body {
    margin: 0;
    background-color: #EEEEEE;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: xx-large;
}

h2 {
  font-family: 'Permanent Marker', cursive;
}

h3 {
  font-family: 'Permanent Marker', cursive;
}

.top-container {
  position: relative;
  padding-top: 50px;
}

.top-heading{
  position: relative;
  top: 0;
  margin-bottom: 5px;
}

.web {
  position: relative;
  top: 0px
}

.bottom-cloud {
  position: absolute;
  top: 225px;
  right: 400px;
  width: 20%
}

.top-cloud {
  position: absolute;
  margin: 10px;
  left: 10px;
  top: 50px;
  width: 20%
}

.mountain {
  position: relative;
  top: 30px
  width: 75%
}

@keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
  }
  
  .profile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25px
  }
  
  .avatar {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-width: 5px #8EC3B0;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
  }

  .spin {
    transition: transform .7s ease-in-out;
  }
  img:hover {
    transform: rotate(360deg);
  }

#drop {color: #4C6793; font-family: Arial; font-size: x-large; }

#wiggle {
  animation: wiggle 2s linear infinite;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

#wiggle {
  
  height: 4em;
  width: 6em;
  
  background: #444;
  background: linear-gradient(top, #555, #333);
  border: none;
  border-top: 3px solid #4C6793;
  border-radius: 0 0 0.2em 0.2em;
  color: #fff;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 1em;
  transform-origin: 50% 5em;
}