  body {
     background-color: #D6E4E5;
 }

 hr {
     border-color: #7895B2;
     border-width: 8px;
     width: 20%;
     border-style: dotted none none none;
     height: 0px;
     background-color: #D6E4E5;
 }

 h1 {color: #4C6793;}
 h2 {color: #4C6793;}